@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'poppins', sans-serif;
}
/* nav css */
nav {
    display: flex;
    background-color: rgb(30, 30, 116);
    justify-content: space-around;
    align-items: center;
    height: 8rem ;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li {
    margin: 0 2rem;
    font-size: 2rem;
    font-weight: 600;
}
nav ul li a {
    text-decoration: none;
    color: white;
    }
nav ul li a:hover {
    color:rgb(141, 141, 223);
    font-size: 2.1rem;
    }
.left{
    display: inline;
    margin:3rem 0;
}
.left a{
    font-size: 3rem;
    text-decoration: none;
    color: white;
    
}
.right .fa-solid{
    display: none;
}
#GK{
    background:linear-gradient(rgba(250, 246, 246, 0.6),#42828d);
    border-radius: 4px;
    color: #fcffff;
    padding: 5px;
}
#GK:hover{
    background:linear-gradient(rgba(228, 137, 137, 0.6),#6fd4e6);
}
/* nav end */
/* hero css */
.rightSection img:hover{
    transform: scale(1.1);
   
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: 10rem 0;
}
.firstSection >div{
    width: 30%;
}
.leftSection{
   font-size: 3.5rem;
}
.leftSection .buttons{
    padding: 50px 0;
}
.leftSection .btnb{
    padding: 1.2rem;
    background-color: rgb(27, 27, 104);
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size:20px;
    cursor:pointer;
 }
 .leftSection .btnb a{
    text-decoration: none;
    color: aliceblue;
 }
.rightSection{
    background-color: rgb(109, 109, 151);
    border-radius: 1rem;
}
.rightSection img{
    width: 90%;
}
.purple{
    color: rgb(103, 23, 179);
}
#element{
    color:rgb(143, 143, 209);
}
hr{
    border: 0;
    background: rgb(168, 168, 222);
    height: 0.2rem;
    margin: 4rem 7rem;
}
/* end hero */
/* about us css start */
#about{
    padding: 9rem 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    height: 50.6rem;
    border-radius: 1.5rem;
    margin-left: 70px;
}
.about-col-2{
    flex-basis: 50%;
}
.about-col-2 p{
    font-size: 2rem;
}
#subtitle{
    font-size: 4rem;
    font-weight: 600;
    color:white ;
}
.tab-titles{
        display: flex;
        margin: 2rem 0 4rem;
}
.tab-links{
    margin-right: 5rem;
    font-size: 3rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color:#ff004f;
    bottom: -8px;
    left: 0;
    transition:0.5s
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 2rem 0;
    font-size: 1.8rem;

}
.tab-contents ul li span{
    color:red;
    font-size: 2rem;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* about us css end */
/* footer css start */
footer{
    background-color: rgb(33, 33, 116);
    color: #ece8e8;
    font-size: 15px;
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}
.footer>div{
    width: 223px;
}
footer .footer-rights{
    text-align: center;
    color: gray;
    padding:12px 0 ;
}
.footer-link{
    text-decoration: none;
    color: #ece8e8;
}
.footer-link:hover{
    color: #1d1b1b;
}
/* footer css end  */
/* services css start  */
#services {
    padding: 30px 0;
    margin: 60px 190px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-row: 40px;
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background-color: #4a1919;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;

}

.services-list div h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div:hover {
    background: rgb(218, 148, 62);
    transform: translateY(-10px);
}
/* services css end  */
/* portfolio css start  */
#portfolio{
    padding: 80px 0;
    margin: 0 190px;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform .5s;
}

.layer {
    width: 100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: rgb(224, 31, 31);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

#sub-title {
    font-size: 4rem;
    font-weight: 600;
    color: white;
}
/* portfolio css end  */
/* contact us css start */
.row{
    display: flex;
    margin: 55px 90px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 65%;
}

.contact-left p{
    margin-top: 30px;
    font-size: 20px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    color: white;
    text-decoration: none;
    font-size: 3rem;
    margin-right: 1.5rem;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px)
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding:10px 40px;
    border-radius: 6px;
    text-decoration:none ;
    color: beige;
    font-size: 12px;
}
.btn.btn2{
    display: inline-block;
    background:#ff004f ;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 12px;
    margin: 10px 0;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
}
form .btn{
    padding: 14px 16px;
    font-size: 18px;
    margin-top:20px ;
    cursor: pointer;

}
/* contact us css end */

@media only screen and (max-width:600px) {
    .right ul{
        background: #ff004f;
        position: fixed;
        top:0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 20px;
        flex-direction: column;
        z-index: 2;
    }
    .right ul li{
        display: block;
        margin: 15px;
    }
    .right ul i{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        font-size: 20px;
        transition: right 0.5s;
    }
    .right .fa-solid{
        font-size: 26px;
        display: block;
        cursor: pointer;
    }
    .right .fa-solid:hover{
        color: #8c63ec;
    }
}
