@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'poppins', sans-serif;
}
/* nav css */
nav {
    display: flex;
    background-color: rgb(30, 30, 116);
    justify-content: space-around;
    align-items: center;
    height: 8rem ;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li {
    margin: 0 2rem;
    font-size: 2rem;
    font-weight: 600;
}
nav ul li a {
    text-decoration: none;
    color: white;
    }
nav ul li a:hover {
    color:rgb(141, 141, 223);
    font-size: 2.1rem;
    }
.left{
    display: inline;
    margin:3rem 0;
}
.left a{
    font-size: 3rem;
    text-decoration: none;
    color: white;
    
}
.right .fa-solid{
    display: none;
}
#GK{
    background:linear-gradient(rgba(250, 246, 246, 0.6),#42828d);
    border-radius: 0.4rem;
    color: #fcffff;
    padding: 0.5rem;
}
#GK:hover{
    background:linear-gradient(rgba(228, 137, 137, 0.6),#6fd4e6);
}
/* nav end */
/* hero css */
.rightSection img:hover{
    transform: scale(1.1);
   
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: 10rem 0;
}
.firstSection >div{
    width: 30%;
}
.leftSection{
   font-size: 3.5rem;
}
.leftSection .buttons{
    padding: 5rem 0;
}
.leftSection .btnb{
    padding: 1.2rem;
    background-color: rgb(27, 27, 104);
    color: white;
    border: 0.2rem solid white;
    border-radius: 0.6rem;
    font-size:2rem;
    cursor:pointer;
 }
 .leftSection .btnb:hover{
    background: rgb(25, 122, 248);
 }
 .leftSection .btnb a{
    text-decoration: none;
    color: aliceblue;
 }
.rightSection img{
    background-color: rgb(109, 109, 151);
    border-radius: 1rem;
    width: 90%;
}
.purple{
    color: rgb(103, 23, 179);
}
#element{
    color:rgb(143, 143, 209);
}
hr{
    border: 0;
    background: rgb(168, 168, 222);
    height: 0.2rem;
    margin: 4rem 7rem;
}
/* end hero */
/* about us css start */
#about{
    padding: 9rem 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    height: 50.6rem;
    border-radius: 1.5rem;
    margin-left: 7rem;
}
.about-col-2{
    flex-basis: 50%;
}
.about-col-2 p{
    font-size: 2rem;
}
#subtitle{
    font-size: 4rem;
    font-weight: 600;
    color:white ;
}
.tab-titles{
        display: flex;
        margin: 2rem 0 4rem;
}
.tab-links{
    margin-right: 5rem;
    font-size: 3rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0.3rem;
    background-color:#251b83;
    bottom: -0.8rem;
    left: 0;
    transition:0.5s
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 2rem 0;
    font-size: 1.8rem;

}
.tab-contents ul li span{
    color:rgb(101, 45, 204);
    font-size: 2rem;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* about us css end */
/* footer css start */
footer{
    background-color: rgb(33, 33, 116);
    color: #ece8e8;
    font-size: 1.5rem;
}
.footer{
    display: flex;
    padding: 2.3rem 12.2rem;
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}
.footer ul li h3{
    color: #34b6dd;
}
.footer>div{
    width: 22.3rem;
}
footer .footer-rights{
    text-align: center;
    color: gray;
    padding:1.2rem 0 ;
}
.footer-link{
    text-decoration: none;
    color: #ece8e8;
}
.footer-link:hover{
    color: #1d1b1b;
}
/* footer css end  */
/* services css start  */
#services {
    padding: 3rem 0;
    /* margin: 6rem 19rem; */
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-row: 4rem;
    grid-gap: 4rem;
    margin-top: 5rem;
}

.services-list div {
    background-color: #422bc4;
    padding: 4rem;
    font-size: 1.3rem;
    font-weight: 300;
    border-radius: 1rem;
}

.services-list div h2{
    color: rgb(14, 3, 66);
}
.services-list div p{
    color: rgb(18, 13, 29);
}
.services-list div i {
    font-size: 5rem;
    margin-bottom: 3rem;

}

.services-list div h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.services-list div:hover {
    background: rgb(72, 187, 223);
    transform: translateY(-1rem);
}
/* services css end  */
/* portfolio css start  */
#portfolio{
    padding: 8rem 0;
    /* margin: 0 19rem; */
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 4rem;
    margin-top: 5rem;
}

.work {
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 1rem;
    display: block;
    transition: transform .5s;
}

.layer {
    width: 100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6),#532dfa);
    position: absolute;
    border-radius: 1rem;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 2rem;
}

.layer a {
    margin-top: 2rem;
    color: rgb(224, 31, 31);
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 6rem;
    background: white;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

#sub-title {
    font-size: 4rem;
    font-weight: 600;
    color: white;
}
/* portfolio css end  */
/* contact us css start */
.row{
    display: flex;
    /* margin: 5.5rem 9rem; */
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 65%;
}

.contact-left p{
    margin-top: 3rem;
    font-size: 2rem;
}
.contact-left p i{
    color: #2714db;
    margin-right: 1.5rem;
    font-size: 2.5rem;
}
.social-icons{
    margin-top: 3rem;
}
.social-icons a{
    color: white;
    text-decoration: none;
    font-size: 3rem;
    margin-right: 1.5rem;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #2f1cd6;
    transform: translateY(-0.5rem)
}
.btn{
    display: block;
    margin: 5rem auto;
    width: fit-content;
    border: 0.1rem solid #161ae4;
    padding:1rem 4rem;
    border-radius: 0.6rem;
    text-decoration:none ;
    color: beige;
    font-size: 1.2rem;
}
.btn.btn2{
    display: inline-block;
    background:#3b1de9 ;
}
.btn.btn2:hover{
    background: rgb(25, 122, 248);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 1.2rem;
    margin: 1rem 0;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 0.6rem;
}
form .btn{
    padding: 1.4rem 1.6rem;
    font-size: 1.8rem;
    margin-top:2rem ;
    cursor: pointer;

}
/* contact us css end */
.container{
    padding: 10px 10%;
}
@media only screen and (max-width:1000px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 7px;
    }
    
    body {
        background-color: rgb(0, 0, 33);
        color: white;
        font-family: 'poppins', sans-serif;
    }
    .container{
        padding: 10px 10%;
    }
    .right ul{
        background: #0d868f;
        position: fixed;
        top:0;
        right: -20rem;
        width: 20rem;
        height: 100vh;
        padding-top: 0rem;
        flex-direction: column;
        z-index: 2;
    }
    .right ul li{
        display: block;
        margin: 1.5rem;
    }
    nav ul li a:hover {
        color:rgb(6, 6, 85);
        }
    .right ul i{
        position: absolute;
        top: 2.6rem;
        left: 2.6rem;
        cursor: pointer;
        font-size: 2rem;
        transition: right 0.5s;
    }
    .right .fa-solid{
        font-size: 2.6rem;
        display: block;
        cursor: pointer;
    }
    .right .fa-solid:hover{
        color: #8c63ec;
    }
    .footer{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .footer ul{
        justify-content: space-around;
    }
    hr{
        border: 0;
        background: rgb(168, 168, 222);
        height: 0.2rem;
        margin: 4rem 0rem;
    }
    #contact .row{
        justify-content: center;
    }
    #about .row{
        justify-content: space-around;
    }
    #about img{
        margin: 0;
        width: 40rem;
    }
    .contact-left p{
        margin-top: 3rem;
        font-size: 2rem;
        color: #34b6dd;
    }
    .contact-left p:hover{
        color: #e2f7fd;
    }
    .contact-left p i{
        display: none;
    }
    .rightSection{
        display: block;
    }
    .rightSection img{
        display: none;
    }
    .firstSection{
        flex-direction: column;
    }
    .leftSection{
        font-size: 2.2rem;
     }
     .leftSection .buttons{
        padding: 2rem 0;
        margin: 0;
    }
    .leftSection .btnb{
        display: inline-block;
        padding: 1rem;
        margin-bottom: 10px;
        font-size:8px;
        cursor:pointer;
     }
}
@media only screen and (max-width:600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 8px;
    }
    
    body {
        background-color: rgb(0, 0, 33);
        color: white;
        font-family: 'poppins', sans-serif;
    }
    .container{
        padding: 10px 10%;
    }
    .right ul{
        background: #0d868f;
        position: fixed;
        top:0;
        right: -20rem;
        width: 20rem;
        height: 100vh;
        padding-top: 0rem;
        flex-direction: column;
        z-index: 2;
    }
    .right ul li{
        display: block;
        margin: 1.5rem;
    }
    nav ul li a:hover {
        color:rgb(6, 6, 85);
        }
    .right ul i{
        position: absolute;
        top: 2.6rem;
        left: 2.6rem;
        cursor: pointer;
        font-size: 2rem;
        transition: right 0.5s;
    }
    .right .fa-solid{
        font-size: 2.6rem;
        display: block;
        cursor: pointer;
    }
    .right .fa-solid:hover{
        color: #8c63ec;
    }
    .footer{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .footer ul{
        justify-content: space-around;
    }
    hr{
        border: 0;
        background: rgb(168, 168, 222);
        height: 0.2rem;
        margin: 4rem 0rem;
    }
    #contact .row{
        justify-content: center;
    }
    #about .row{
        justify-content: space-around;
    }
    #about img{
        margin: 0;
        width: 40rem;
    }
    .contact-left p{
        margin-top: 3rem;
        font-size: 2rem;
        color: #34b6dd;
    }
    .contact-left p:hover{
        color: #e2f7fd;
    }
    .contact-left p i{
        display: none;
    }
    .rightSection{
        display: block;
    }
    .rightSection img{
        display: block;
    }
    .firstSection{
        flex-direction: column-reverse;
    }
    .leftSection{
        font-size: 2.2rem;
     }
     .leftSection .buttons{
        padding: 2rem 0;
        margin: 0;
    }
    .leftSection .btnb{
        display: inline-block;
        padding: 1rem;
        margin-bottom: 10px;
        font-size:8px;
        cursor:pointer;
     }
}

@media only screen and (max-width:400px) {
    html{
        font-size: 7.6px;
    }
}
